// mixin expanding a responsive list
@mixin expand-list($list){
    @each $breakpoint, $props in $list {
        $scope: map-get($breakpoints,$breakpoint);
        @media (min-width:$scope) {
            @each $prop, $value in $props {
                #{$prop}:#{$value};
            }
        }
    }
}

// mixin expanding a particulat nested list
@mixin expand-list-choice($list,$option) {
    @each $breakpoint,$choices in $list {
        @media (min-width:map-get($breakpoints,$breakpoint)) {
            $props: map-get($choices,$option);
            @each $prop,$value in $props {
                #{$prop}: rem-calc($value);
            }
        }
    }
}

// expand a list into a specified value 
@mixin expand-into-property($list,$property,$aspect:1,$important:false) {
    @each $breakpoint,$value in $list {
        @media (min-width:map-get($breakpoints,$breakpoint)) {
            $imp:null;
            @if ($important!=false) {
                $imp: !important;
            }
            #{$property}:$value*$aspect $imp;
        }
    }
}

// transitions
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

@mixin diagonal-gradient($start,$end){
    background:$start;
    background: linear-gradient(to bottom right, $start, $end);
}

@mixin flat-shadow($amount,$color){
    box-shadow:$amount $amount 0 $color;
}