/**
 * Image galleries
 */
.gallery {
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    /** common styling */
    .gallery-item {
        margin:0;
        padding:0;
        img,
        dt {
            width:100%;
            height:auto;
            display:block;
            margin:0;
            padding:0;
        }
    }
    /** settings for the columns layout */
    $vars: (
        1: (
            small: 1
        ),
        2: (
            small: 2,
        ),
        3: (
            small: 2,
            medium: 3,
        ),
        4: (
            small: 2,
            medium: 3,
            large: 4,
        ),
        5: (
            small: 2,
            medium: 4,
            large: 5,
        ),
        6: (
            small: 2,
            medium: 4,
            large: 6,
        )
    );
    @each $key, $variant in $vars {
        &.gallery-columns-#{$key} {
        @each $bp, $columns in $variant {
            @media (min-width:map-get($breakpoints,$bp)) {
                .gallery-item {
                    width:percentage(1/$columns);
                }
            }
        }
        }
    }
}