/** Embedded video player */
#embedded-video {
    background-color:$light-gray;
    transition:height $speed ease-in-out;
    overflow:hidden;
    position:relative;
    &.off {
        height:0 !important;
        display:none;
    }
    &.on {
        height:80vh;
        display:block;
    }
    .frame {
        height:100%;
        transition:height $speed ease-in-out, padding $speed ease-in-out, opacity $speed ease-in-out;
        @include expand-into-property($grid-column-gutter,padding);
        @include expand-into-property($grid-column-gutter,padding-top,2);
        @include expand-into-property($grid-column-gutter,padding-bottom,2);
        &.player {
        }
        &.callback {
            display:flex;
            > .callback-wrapper {
                align-self:center;
                flex-grow:1;
                > .centering-wrapper {
                    max-width:500px;
                    margin:0 auto;
                    .callback-form-wrapper {
                        @include expand-into-property($grid-column-gutter,padding-top,1);
                    }
                }
            }
        }
        &.off {
            height:0 !important;
            padding:0 !important;
            opacity:0 !important;
        }
    }
    #ytplayer {
        height:100% !important;
        width:100% !important;
    }
}


/**
 * Button overrides
 */
// button:not(.close-button),
input[type="submit"],
.pirate-forms-submit-button,
.form-styling button {
    @extend .button;
}
.pirate-forms-submit-button,
.form-styling button {
    @extend .secondary;
}
.button {
    // box-shadow: 5px 5px 0 get-color(third);
    @include flat-shadow(5px,get-color(third));
    transition:box-shadow $speed/2 ease-in-out, top $speed/2 ease-in-out, left $speed/2 ease-in-out;
    position:relative;
    top:0px;
    left:0px;
    font-weight:$global-weight-bold;
    &:hover,
    &:focus {
        &:not(.static) {
            // box-shadow:0 0 0 get-color(third);
            @include flat-shadow(0,get-color(third));
            top:5px;
            left:5px;
        }
    }
}
.button-holder {
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:0;
    text-align:center;
    .button-lifter {
        top:-25px;
        position:absolute;
        width:100%;
        height:0;
        .button {
            margin:0 auto;
            z-index:5;
        }
    }
}

/**
 * Video player overrides
 */
.mejs-container {
    width:100% !important;
}

/**
 * Testimonials
 */
.testimonial-item {
    @include flat-shadow(5px,$medium-gray);
    background-color:$white;
    @include expand-into-property($grid-column-gutter,margin-bottom);
}

/**
 * Mapy.cz
 */
.panel-map {
    width:100%;
    height:500px;
}

/**
 * Front contact form
 */
.widget_pirate_forms_contact_widget {
    .widget-title,p {
        text-align:center;
    }
}