/**
 * Obecné stylování horního navigačního menu
 */
.top-bar {
    /** Odkazy první úrovně */
    height:100%;
    .top-level {
        padding:$global-menu-padding;
        padding-top:0;
        padding-bottom:0;
        > a {
            color:$white;
            padding-left:0;
            padding-right:0;
            &.is-active {
                border-bottom:3px solid $white;
            }
        }
        &:hover:not(.site-logo) {
            background-color:$white;
            a {
                color:get-color(primary);
            }
        }
        &.active {
            a {
                border-bottom:3px solid $white;
            }
        }
    }

    /** Celkový layout topbaru 
    (nezle dělat přes built-in funkce) */
    .top-bar-left {
        display:flex;
        flex-wrap:wrap;
        align-items:center;
    }

    .site-branding,
    .primary-navigation {

    }
    .menu-toggler {
        text-align:right;
        float:right;
        @include expand-into-property($grid-column-gutter,margin-right,1,true);
    }


    /** Branding */
    .site-branding {
        // přepsat na foundationovský site title
    }

    /** Animace výšky a barevnosti expanded top-baru */
    
    

    /** Barevnost top-baru */
    
}

/** Barevná a velikostní transformace .top-baru */
.top-bar-transformer {
    transition: height $speed ease-in-out, background-color $speed ease-in-out;
    height: 150px;
    &.is-stuck {
        height: 100px;
        background-color:get-color(primary);
        // @include diagonal-gradient(get-color(primary),get-color(third));
        z-index:10;
    }
}

/**
 * Přepis paginace
 */
.pagination {
    > * {
        margin-right: 15px;
        &:last-child {
            margin-right:0;
        }
    }
}

/**
 * OffCanvas
 */
.off-canvas {
    a {
        color:$white;
    }
    .close-holder {
        width:100%;
        height:40px;
        .close-button {
            // position:relative;
            margin:0;
            color:$white;
        }
    }
}

.site-heading {
    padding:15px !important;
    .site-name {
    }
}