/**
 * Úvodní blok 
 */
.intro-wrapper {
    background-size:cover;
    background-position:center center;
    background-color:get-color(primary);
    @include diagonal-gradient(get-color(primary),get-color(third));

}
.featured-image-holder {
    background-size:cover;
    height:40px;
    width:100%;
    z-index:4px;
}
#call {
    @media (min-width:map-get($breakpoints,medium)) {
        min-height:500px;
    }
}
.profile-topbar-name {
    a {
        color:$white;
        font-weight:$global-weight-bold;
        font-size:120%;
    }
}
#cropped-image {
    position:relative;
    img {
        max-height:100%;
        width:auto;
        display:block;
        @media (min-width:map-get($breakpoints,medium)) {
            bottom:0px;
            position:absolute;
            min-height:500px;
        }
    }
}

/**
 * Záhlaví stránky
 */
.page-heading {
    /** Hlavní pseudoelement extenduje h1 */
    .main-title,
    .pseudo-element {
        @extend .h1;
        color: $white;
        font-weight:$global-weight-bold;
        /** Paddings */
        @include expand-into-property($grid-column-gutter,padding-top,1);
        @include expand-into-property($grid-column-gutter,padding-bottom,2);
        @media (min-width:map-get($breakpoints,medium)) {
            @include expand-into-property($grid-column-gutter,padding-top,3);
            @include expand-into-property($grid-column-gutter,padding-bottom,3);
        }
    }
}
/**
 * Linka pod/nad
 */
.sub-line {
    position:relative;
    width:100%;
    height:0;
    > .sub-line-items {
        text-align:center;
    }
}

/**
 * Patička
 */
#footer {
    min-height:30vh;
    > * {
        @include expand-into-property($grid-column-gutter,padding-top,.5);
        @include expand-into-property($grid-column-gutter,padding-bottom,.5); 
    }
    /** Horní pruh patičky */
    .footer-top {
        background-color:get-color(primary);
        color:$white;
        a {
            color:$white;
        }
        .site-name {
            padding-right:20px;
        }
    }
    /** Dolní pruh patičky */
    .footer-cols {
        color:$white;
        background-color:get-color( third );
        min-height:30vh;
        color :$light-gray;
        li {
            a {
                color: $medium-gray;
                padding-left:0;
                padding-right:0;
                @include expand-into-property($grid-column-gutter,margin,.5); 
            }
            &.active {
                a {
                    border-bottom: 3px $medium-gray solid;
                }
            }
        }
    }
}

/** Profile */

.separator-image {
    height:40vh;
    background-size:cover;
    background-position:center center;
}
.section {
    padding:30px;
}
#embedded-video-trigger {
    margin:0 auto;
    display:block;
}
.profile-title {
    @media (max-width:map-get($breakpoints,medium)) {
        text-align:center;
        padding-left:15px;
        padding-right:15px;
    }
}

/** Grid overrides */
.row {
    &.full {
        max-width:100%;
        width:100%;
        img {
        }
    }
    &.no-gutter {
        .columns {
            padding:0;
        }
    }
}
.cell {
    &.no-gutter {
        padding:0;
    }
    &.full-gutter {
        @include expand-into-property($grid-column-gutter,padding);
    }
    &.stretched {
        align-self:stretch;
    }
    &.vertical-center {
        align-self:center;
    }
    &.grow-1 {
        flex-grow:1;
    }
}
.global-padding {
    @include expand-into-property($grid-column-gutter,padding,1);
}
.global-margin-top {
    @include expand-into-property($grid-column-gutter,margin-top,1,true);
}
.title-404 {
    small {
        font-weight:normal;
        display:block;
        @include expand-into-property($grid-column-gutter,padding-top);
        color:get-color(third) !important;
    }
}

/**
 * Thumbnail teasers
 */
.post-thumbnail {
    width:100%;
    @include flat-shadow(5px,$medium-gray);
    background-color:$white;
    @include expand-into-property($grid-column-gutter,margin-bottom,3,true);
    .thumbnail-holder {
        &.thumb {
            background-size:cover;
        }
        &.no-thumb {
            background-size:200px auto;
            padding:30px;
            background-color: get-color(primary);
        }
        background-position:center center;
        background-repeat:no-repeat;
        height:300px;
    }
}
.thumbnail-holder {
    background:$light-gray;
}

.section-heading {
    @include expand-into-property($grid-column-gutter,padding-top);
    @include expand-into-property($grid-column-gutter,padding-bottom);
}
.section-heading-2x {
    @include expand-into-property($grid-column-gutter,padding-top,2,true);
    @include expand-into-property($grid-column-gutter,padding-bottom,2,true);
}

.post-teaser {
    @include expand-into-property($grid-column-gutter,padding-bottom,3,true);
}



/**
 * Styly widgetů
 */
.posts-sidebar {
    .widget {
        background:$light-gray;
        @include expand-into-property($grid-column-gutter,padding,0.5);
        @include expand-into-property($grid-column-gutter,margin-bottom,1);
    }
    .widget-title {
        font-size:130%;
        @include expand-into-property($grid-column-gutter,margin-bottom,1);
    }
}