.panel-grid-cell {
    // height:100%;
    align-self:stretch !important;
    .panel-widget-style {
        height:100%;
    }
}

.so-panel {
    &.widget:not(.widget_sow-google-map ) {
        .panel-widget-style {
            padding:30px;
        }
    }
}

/**
 * SiteOrigin widgets
 */
 .reveal-widget {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom:20px;
    > * {
        display: block;
    }
    .reveal-image {
        position: relative;
        border-radius: 50%;
        background:yellow;
        overflow:hidden;
        /** Vždy cyklické super! */
        width:100%;
        height:0;
        padding-bottom:100%;

        margin:0 auto;
        background-size:cover;
        background-color:get-color(primary);
        background-position:center center;
    }
}
/** Something with hover effect */
.cursor-pointer {
    cursor:pointer;
}
/** Circular images */
.circular {
}

/** Counter widget */
.counter-widget {
    text-align:center;
    
    .counter-circle {
        border-radius: 50%;
        border:3px solid get-color(primary);
        display:table !important;
        margin:0 auto;
        width:200px;
        height:200px;
        @include diagonal-gradient($white,$light-gray);
        color: get-color(primary);
        font-weight:bold;
        .centrator {
            display:table-cell;
            vertical-align:middle;
        }
    }
    .counter-title {
        width:200px;
        margin:0 auto;
    }
}