/**
 * Background gradient classes
 */
.diagonal-brand {
    @include diagonal-gradient(get-color(primary),get-color(third));
    color:$white !important;
    $headings: (
        h1,h2,h3,h4,h5,h6
    );
    $h: "";
    $count: length($headings);
    @each $heading in $headings {
        #{$heading}, .#{$heading} {
            color:$white;
        }
    } 
}
.diagonal-light {
    @include diagonal-gradient($white,$light-gray);
}

/** Scheme scaffold */
$scaffold-palette: (
    light-gray:$light-gray,
    primary:get-color(primary),
    secondary:get-color(secondary),
    third:get-color(third),
);
@each $name,$color in $scaffold-palette {
    .bg-#{$name} {
        background-color: $color;
    }
    .color-#{$name} {
        color: $color;
    }
}