.bpf-big {
    &:before,
    &:after {
      $sizes: (
        small: (
            font-size:3em,
        ),
        medium: (
            font-size:3em,
            
        ),
        large: (
            font-size:4em,
        )
      );
      @include expand-list($sizes);
    }
}